@using Microsoft.AspNetCore.Identity;
@using MySocialNetwork.Models.Users;
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@*@model MySocialNetwork.ViewModels.Account.LoginViewModel;
*@@{
    ViewData["Title"] = "Logout";
}

@if (SignInManager.IsSignedIn(User))
{
    <a asp-area="" asp-controller="AccountManager" asp-action="Logout">Выход</a>
}