@page
@{
    //ViewData["Title"] = "Главная";
}
@model MySocialNetwork.Models.MainViewModel;

<div class="row">
    <div class="side">
        <div class="center">
            Пользуйтесь нашей самой крутой соцсетью! Регистрируйтесь всего за 2 минуты, делитесь мыслями, находите новых друзей.
        </div>
        <img class="main-img" src="https://funart.pro/uploads/posts/2021-07/1627515430_9-funart-pro-p-obezyana-za-kompom-zhivotnie-krasivo-foto-13.jpg" />
    </div>


    <div class="main">
        <partial name="Login" model="Model.LoginView" />
        <partial name="Register" model="Model.RegisterView" />
    </div>
</div>